[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
mysqlclient = "*"
django-environ = "*"
pillow = "*"
django = {extras = ["bcrypt"], version = "*"}
django-allauth = "*"
mysql-connector-python = "*"
gunicorn = "*"
dj-database-url = "*"
whitenoise = "*"
psycopg2-binary = "*"

[dev-packages]
pytest-django = "*"

[requires]
python_version = "3.8"
